body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.web-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.menu-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.menu-link:hover {
  color: #2196f3;
}
.menu-link:focus {
  color: #2196f3;
}
.cont-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.cont-link:hover {
  color: #2196f3;
}
.cont-link:focus {
  color: #2196f3;
}

.box-title {
  background: #2f303a;
}

.text-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}
.btn:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.title-do {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-do {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.what-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-name {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
.team-function {
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
}
.adres {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer {
  background: #2f303a;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product-info {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
