body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  width: 1600px;
  margin: 0px;
}
.container {
  width: 1200px;
  margin: 0;
}
li {
  list-style: none;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.web-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
menu {
  display: flex;
  white-space: break-spaces;
}
.menu-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
.menu-link:hover {
  color: #2196f3;
}
.menu-link:focus {
  color: #2196f3;
}
.cont-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
.cont-link:hover {
  color: #2196f3;
}
.cont-link:focus {
  color: #2196f3;
}
.section {
  padding-block: 94px;
}

.box-title {
  background: #2f303a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}
.btn-t {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  width: 200px;
}
.btn-t:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.btn-t:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}
.btn:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.lorem {
  display: flex;
}
.title-do {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-do {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.what-box {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.what-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  width: 1170px;
}
.team-box {
  display: flex;
}
.team {
  background: #f5f4fa;
}
figcaption {
  background-color: #ffffff;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-name {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
.team-function {
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
}
.jdpd {
  margin: auto;
}
.jdfd {
  margin: auto;
}
.jdm {
  margin: auto;
}
.jdui {
  margin: auto;
}
.adres {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer {
  background: #2f303a;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product-info {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
